GameStore/GameStoreForms/Connected Services/ServiceReference1/GameStore.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameStore.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameStore.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GamePremiere" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameRating" type="xs:int" />
      <xs:element minOccurs="0" name="GameTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="OrToBuy" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
</xs:schema>